<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>@font-face {
  font-family: "iconfont"; /* Project id 3766736 */
  src: url('iconfont.woff2?t=1668253989353') format('woff2'),
       url('iconfont.woff?t=1668253989353') format('woff'),
       url('iconfont.ttf?t=1668253989353') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-variant: normal;
    display: var(--fa-display,inline-block);
    line-height: 1;
    text-rendering: auto;
}

.icon-kaifa:before {
  content: "\e733";
}

.icon-Redis:before {
  content: "\e6a2";
}

.icon-rengongzhineng:before {
  content: "\e651";
}

.icon-yun:before {
  content: "\eb2c";
}

.icon-APPkaifa:before {
  content: "\ec23";
}

.icon-biji:before {
  content: "\e64f";
}

.icon-wangzhankaifa:before {
  content: "\e6c8";
}

.icon-suanfaku:before {
  content: "\e63a";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-java:before {
  content: "\e6e0";
}

.icon-python:before {
  content: "\e68e";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-linux:before {
  content: "\eccc";
}

.icon-youxiang:before {
  content: "\e667";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-github:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-gmail:before {
  content: "\e60b";
}

.icon-leetcode1:before {
  content: "\ebf2";
}

.icon-leetcode:before {
  content: "\e60d";
}

